.firstButton {
    position: absolute;

    margin-top: 282px;
    margin-left: 580px;
}

.secondButton {
    position: absolute;

    margin-top: 225px;
    margin-left: 1373px;
}

.thirdButton {
    position: absolute;

    margin-top: 714px;
    margin-left: 446px;
}

.fourthButton {
    position: absolute;

    margin-top: 475px;
    margin-left: 1414px;
}

.fifthButton {
    position: absolute;

    margin-top: 629px;
    margin-left: 1081px;
}

.sixthButton {
    position: absolute;

    margin-top: 713px;
    margin-left: 1593px;
}

.seventhButton {
    position: absolute;

    margin-top: 482px;
    margin-left: 687px;
}

.eighthButton {
    position: absolute;

    margin-top: 404px;
    margin-left: 1148px;
}

.ninthButton {
    position: absolute;

    margin-top: 669px;
    margin-left: 1306px;
}

.tenthButton {
    position: absolute;

    margin-top: 790px;
    margin-left: 1107px;
}